<div class="container-fluid w-100 d-flex justify-content-center bg-dark">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">


        <!--Botão para resposividade-->

        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse">
        </button>

        <!--/Botão para resposividade-->

        <div class="collapse navbar-collapse bg-dark">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link texto p-3 border-right text-uppercase text-white text-monospace font-weight-bold"
                        routerLink='/home'>
                        Home<span class="sr-only">(página atual)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link texto p-3 border-right text-uppercase text-monospace text-white font-weight-bold"
                        routerLink='/avaliacao'>Adicione</a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link texto p-3  text-uppercase text-monospace text-white font-weight-bold"
                      routerLink='/avaliacao'>Crtiticas</a>
              </li>

            </ul>



        </div>
    </nav>
</div>
