<div class="container">
  <div class="card border-0 container-fluid" style="width: 18rem;">
  <img class="card-img-top" [src]=elMadrileno>
  </div>
  <div class="card-body">
      <h5 class="card-title text-center">El Madrileño</h5>
      <p class="card-text text-justify">Incrivelmente bem trabalhado e produzido, o disco do espanhol C. Tangana, demonstra a
        versatilidade de ritmos espanhóis, com um sample de Toquinho e uma música parcialmente me português, o espanhol lança
        com um ótimo trabalho.
      </p>
  <div class=" row mt-2">
    <div class="col-7 mt-4">
      <div class="row">
        <div class="col-6">
          <label for="formGroupExampleInput">Álbum</label>
          <input type="text" class="form-control" placeholder="Escreva o álbum" [(ngModel)]="cadastro.artistaName">
        </div>
        <div class="col-6">
          <label for="formGroupExampleInput2">Crítica</label>
          <input type="text" class="form-control" placeholder="Escreve sua crítica" [(ngModel)]="cadastro.albumName">
        </div>
      </div>
      <div class="mb-5">
        <label for="formGroupExampleInput2">Nota</label>
        <div class="row justify-content-between">
        <input type="text" class="form-control col-2 ml-3" placeholder="0-100" [(ngModel)]="cadastro.nota" >
          <button type="button" class="btn btn-primary mr-3" (click)="publicar()">Avaliar</button>
        </div>
      </div>

    </div>
  </div>
  <div  *ngFor="let cadastro of preCadastro" class="row">
    <div class="mt-2 col-7">
      <div class="card mb-3">
        <div class="card-header bg-transparent">{{cadastro.artistaName}}</div>
        <div class="card-body">
          <h5 class="card-title">{{cadastro.albumName}}</h5>
          <p class="card-text">{{cadastro.resenha}}</p>
        </div>
        <div class="card-footer bg-transparent">{{cadastro.nota}}</div>
      </div>
   </div>
  </div>
</div>
